<h2>Books</h2>
<% @lists.each do |list| %>

  <p>Title</p>
   <span>
   <%= link_to list.title, "/lists/#{list.id}" %>
   </span>
  <p>Body</p>
    <span>
    <%= link_to list.body, "/lists/#{list.id}" %>
    </span>
<% end %>