<h2>Books</h2>
<% @books.each do |book| %>

  <p>Title</p>
   <span>
   <%= link_to book.title, "/books/#{book.id}" %>
   </span>
  <p>Body</p>
    <span>
    <%= link_to book.body, "/books/#{book.id}" %>
    </span>
<% end %>