/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 40px;
}

thead {
  text-align: center;
}

td {
  text-align: center;
  padding: 10px;
}

.notice {
  color: green;
  font-size: 15px;
}

.error_message {
  color: red;
}

.flexbox{
  display:flex;
}

.edit_bottom {
  margin-top: 30px;
  margin-right: 30px;
}

.back_bottom {
  margin-top: auto;
}

.show_bottom {
  margin-top: 80px;
  margin-right: 30px;
}

.update_bottom {
  position: absolute;
  margin-top: 20px;
}
  
.create_bottom {
  position: absolute;
  margin-top: 20px;
}

p {
  line-height: 8;
  display: inline;
}

